/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to bottom, #f1badd 10%, #f7eff5 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Cabeçalho */
header {
  background-color: #af69ac;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Seção de Produtos */
.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
}

.produto {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.detalhes h3 {
  font-size: 22px;
  color: #af69ac;
  margin-top: 10px;
}

.detalhes p {
  font-size: 18px;
  color: #5d4037;
  margin-top: 10px;
}

.detalhes button {
  background-color: #ec94d9;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.detalhes button:hover {
  background-color: #a334b9;
}

/* Rodapé */
footer {
  text-align: center;
  background-color: #af69ac;
  color: #fff;
  padding: 10px;
  margin-top: 40px;
  font-size: 14px;
}